menu: [
  {
    label: 'View'
    submenu: [
      { label: 'Toggle Tool Bar', command: 'toolbar:toggle' }
    ]
  }
],
'context-menu': {
  '.tool-bar': [
    { label: '&Hide Tool Bar', command: 'toolbar:toggle' }
    {
      label: '&Position',
      submenu: [
        { label: 'Top', command: 'toolbar:position-top' }
        { label: 'Right', command: 'toolbar:position-right' }
        { label: 'Bottom', command: 'toolbar:position-bottom' }
        { label: 'Left', command: 'toolbar:position-left' }
      ]
    }
  ]
}
